.category a:hover {
    color: #e1e1e1;
    background-color: #037bc0;
}

.category a {
    display: block;
    text-align: center;
    border-bottom-right-radius: 1rem;
    transition: background-color ease-out 0.3s;
    font-size: x-large;
    padding: 2rem;
}